<h3>Spots</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <% @spots.each do |spot| %>
        <div class="card" style="background-color: lightgray;">
          <div class="card-description">
            <p>Site Name: <%= spot.site_name %></p>
            <p>Address: <%= spot.address %></p>
            <p>Hourly_rate: <%= spot.hourly_rate %></p>
            <%= link_to "Delete", , method: :delete, data: { confirm: "Do you want to delete?"}  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Add a New Spot", new_spot_path, class: "btn btn-primary btn-lg" %>

