<div class="spotpagebanner" style="background-image: url('<%= image_path("parkingspot.jpg") %>">
  <h1 class="text-center">
    <% if @searching %>
      Book a Spot
    <% else %>
      Spots
    <% end %>
  </div>
</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <% @spots.each do |spot| %>
        <div class="card" style="background-color: lightgray;">
          <div class="card-category"></div>
          <div class="card-description">
            <% if @searching %>
              <%= link_to "Site Name: #{spot.site_name}", new_spot_booking_path(spot) %>
            <% else %>
              <p><%= "Site Name: #{spot.site_name}" %></p>
            <% end %>
            <p>Address: <%= spot.address %></p>
            <p>Hourly rate: $<%= spot.hourly_rate %></p>
            <%= link_to "Delete", spot_path(spot), method: :delete, data: { confirm: "Do you want to delete?"}  %>
          </div>
          <img src='<%= image_path ("parkingspot.jpg") %>' class="card-user">
        </div>
      <% end %>
    </div>
    <div class = "form-row text-center">
      <div class="col-12">
        <%= link_to "Add a New Spot", new_spot_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>
</div>
<div id="map", style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>"> </div>