<div class="carpagebanner" style="background-image: url('<%= image_path("calendar.jpg") %>');">
  <h1 class="text-center">Bookings</h1>
</div>
<div>
  <div class="tab-container">
    <ul class="nav nav-tabs text-center">
      <li class="active"><a data-toggle="tab" href="#home">Spots I booked</a></li>
      <li><a data-toggle="tab" href="#menu1">My Spot's Bookings</a></li>
    </ul>
  </div>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h3 class="booking">Spots I Booked</h3>
        <% @car_bookings.each do |car_booking| %>
          <div class="card" style="background-color: lightgray;">
            <%= link_to booking_path(car_booking), class: "delete-btn", method: :delete, data: { confirm: "Do you want to delete?"} do %>
              <i class="fas fa-times-circle"></i>
            <% end %>
            <div class="booking-description">
              <p>Your <strong><%= car_booking.car.make %></strong> is booked from <strong><%= car_booking.begin.strftime("%b %e, %l:%M %p") %></strong> for <strong><%= car_booking.duration %> hours</strong></p>

              <p><strong>Address: <%= car_booking.spot.address %></strong> </p>
              <p><strong>Total Price: $<%= car_booking.spot.hourly_rate * car_booking.duration%></strong></p>


           <!--    <ul> -->
                <!-- <li>Begining Time:<%= car_booking.begin %></li>
                <li>Ending Time: <%= car_booking.end %></li>
                <li><%= car_booking.spot.address %></li>
                <li><%= car_booking.spot.site_name %></li>
                <li>Rate: $<%= car_booking.spot.hourly_rate %>/hour</li> -->
             <!--  </ul> -->
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h3 class="booking">My Spot's Bookings</h3>
        <% @spot_bookings.each do |spot_booking| %>
          <div class="card" style="background-color: lightgray;">
            <%= link_to booking_path(spot_booking), class: "delete-btn", method: :delete, data: { confirm: "Do you want to delete?"} do  %>
              <i class="fas fa-times-circle"></i>
            <% end %>
            <div class="booking-description">
              <ul>
                <li>Make: <%= spot_booking.car.make %></li>
                <li>Model: <%= spot_booking.car.model %></li>
                <li>Year: <%= spot_booking.car.year %></li>
                <li>License: <%= spot_booking.car.license_plate %></li>
              </ul>
              <ul>
                <li>Begining Time:<%= car_booking.begin.strftime("%b %e, %l:%M %p") %></li>
                <li>Duration: <%= car_booking.duration %> hours </li>
                <li><%= spot_booking.spot.address %></li>
                <li><%= spot_booking.spot.site_name %></li>
                <li>Rate: $<%= spot_booking.spot.hourly_rate %>/hour</li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</body>
