<div class="carpagebanner" style="background-image: url('<%= image_path("calendar.jpg") %>');">
  <h1 class="text-center">Bookings</h1>
</div>
<div>
  <div class="col-xs-12 col-sm-6">
    <h3 class="booking">Spots I Booked</h3>
    <% @car_bookings.each do |car_booking| %>
      <div class="card" style="background-color: lightgray;">
        <%= link_to booking_path(car_booking), class: "delete-btn", method: :delete, data: { confirm: "Do you want to delete?"} do %>
          <i class="fas fa-times-circle"></i>
        <% end %>
        <div class="booking-description">
          <ul>
            <li>Your <%= car_booking.car.make %> <%= car_booking.car.model %></li>
            <li>with license plate: <%= car_booking.car.license_plate %></li>
          </ul>
          <ul>
            <li>Begining Time:<%= car_booking.begin %></li>
            <li>Ending Time: <%= car_booking.end %></li>
            <li><%= car_booking.spot.address %></li>
            <li><%= car_booking.spot.site_name %></li>
            <li>Rate: $<%= car_booking.spot.hourly_rate %>/hour</li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col col-xs-12 col-sm-6">
    <h3 class="booking">My Spot's Bookings</h3>
    <% @spot_bookings.each do |spot_booking| %>
      <div class="card" style="background-color: lightgray;">
        <%= link_to booking_path(spot_booking), class: "delete-btn", method: :delete, data: { confirm: "Do you want to delete?"} do  %>
          <i class="fas fa-times-circle"></i>
        <% end %>
        <div class="booking-description">
          <ul>
            <li>Make: <%= spot_booking.car.make %></li>
            <li>Model: <%= spot_booking.car.model %></li>
            <li>Year: <%= spot_booking.car.year %></li>
            <li>License: <%= spot_booking.car.license_plate %></li>
          </ul>
          <ul>
            <li>Begining Time:<%= spot_booking.begin %></li>
            <li>End Time: <%= spot_booking.end %></li>
            <li><%= spot_booking.spot.address %></li>
            <li><%= spot_booking.spot.site_name %></li>
            <li>Rate: $<%= spot_booking.spot.hourly_rate %>/hour</li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
</body>