<div class="banner" style="background-image: url('<%= image_path("homeimage.jpg") %>');">
  <div class="banner-content">
    <h1>Parking for All</h1>
    <p>On demand parking near you</p>
    <%= form_tag("/results", method: "post") do %>
      <%= label_tag(:location, "Location") %>
      <%= text_field_tag(:location) %>
      <%= label_tag(:datetime, "Date and Time") %>
      <%= text_field_tag(:datetime) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
</div>



