<div class="banner" style="background-image:linear-gradient(-200deg, rgba(0,90,168,0.7), 0%, rgba(10,50,61,0.4) 40%), url('<%= image_path("homeimage.jpg") %>');">
  <div class="banner-content">
    <h1>Spot.find</h1>
    <p>On demand parking near you</p>
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <%= simple_form_for :search, method: "get" do |f| %>
        <%= f.input :start, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :end, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :location, as: :string %>
        <%= f.button :submit, "Go", class: "btn btn-primary" %>
      <% end %>
    </div>
    <% if current_user %>
      <% if current_user.cars.count == 0 %>
        <p>
          <%= link_to "You have no cars - add a car here", new_car_path, class: 'btn btn-success' %>
        </p>
      <% end %>
      <% if current_user.spots.count == 0 %>
        <p>
          <%= link_to "You have no spots, add a spot here", new_spot_path, class: 'btn btn-success' %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
