<h1>Cars</h1>

<%= link_to "Cars", cars_path, class: 'btn btn-info'  %>
<%= link_to "Profile", root_path, class: 'btn btn-danger' %>
<%= link_to "Spots", spots_path, class: 'btn btn-primary' %>
<%= link_to "Bookings", bookings_path, class: 'btn btn-warning' %>

<% @cars.each do |car| %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path car.photo unless car.photo.blank?%>');">
    <div class="card-category">Popular</div>
    <div class="card-description">

      <h2><%= car.make %></h2>
      <p>Very cool city, the best</p>
    </div>
    <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
    <a class="card-link" href="#" ></a>
  </div>
<% end %>

<%= link_to "Add a car", new_car_path, class: 'btn btn-success' %>
